#!/usr/bin/env ruby
require 'date'

preprocess do
  @items.each do |item|
    if item.identifier =~ '/posts/*'
      item[:kind] = 'post'
      item[:created_at] = DateTime.parse(item[:created_at].to_s)
    else 
      item[:kind] = 'page'
    end
  end
end

# passthrough '/_redirects'

compile '/404.*' do
  layout '/default.*'
  write '/404.html'
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.md' do
  filter :kramdown, input: 'GFM'
  layout '/post.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    if item[:hidden] == true
      write nil
    else
      write item.identifier.without_ext + '/index.html'
    end
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
