<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nzia - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/default.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">
        <%= @item[:title] %>
      </h1>
    </header>
    <main class="main">
      <%= yield %>
      <%= render '/_posts.html' if @item.identifier =~ '/index.html' %>
      <%= render '/_creative_commons.html' %>
    </main>
  </body>
</html>
