<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nzia talk about - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/default.css">
  </head>
  <body>
    <div>
      <header class="header">
        <h1 class="header__title">
          <%= @item[:title] %>
        </h1>
        <div class="header__nav">
          <%= link_to '&#8592index', @items['/index.html'], class: 'back-button' %>
          <%= @item[:created_at] %>
        </div>
      </header>
      <main class="markdown-body">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
